<%= @results.each do |member| %>

<h1>
	<%= member["title"] %>. <%= member["first_name"] %> <%= member["last_name"] %>
</h1>

	<img src="http://theunitedstates.io/images/congress/225x275/<%= member["bioguide_id"] %>.jpg">



<h3>Political Info</h3>
	
<p>		
	<b>Chamber</b>: <%= member["chamber"].capitalize %><br />
	<b>Party</b>: <%= member["party"] %><br />
	<b>State</b>: <%= member["state_name"] %><br />
	<b>Term Started</b>: <%= member["term_start"].to_s %><br />
	<b>Term Ends</b>: <%= member["term_end"] %><br />
</p>

	<h3>Political Summary</h3>
	<p>
		<% @open_secrets_sum.each do |oss| %>

		<b>First Elected</b>: <%= oss[1]["first_elected"] %><br />
		<b>Next Election</b>: <%= oss[1]["next_election"] %><br />
		<b>Money Spent</b>: <%= number_to_currency(oss[1]["spent"]) %><br />
		<b>Cash on Hand</b>: <%= number_to_currency(oss[1]["cash_on_hand"]) %><br />
		<b>Debt</b>: <%= number_to_currency(oss[1]["debt"]) %><br />
		<b>Last Updated</b>: <%= oss[1]["last_updated"] %><br />
		<a href="<%= oss[1]["source"] %>" target="_blank">More info</a><br />

		<% end %>
	</p>


<h3>Contact Info</h3>
	
<p>		
	<b>Phone</b>: <%= member["phone"] %><br />
	<b>Fax</b>: <%= member["fax"] %><br />
	<b>Contact Form</b>: <a href="<%= member["contact_form"] %>" target="_blank">Click Here</a><br />
</p>


<h3>Social Media</h3>
	
<p>		
	<a href="http://facebook.com/<%= member["facebook_id"] %>" target="_blank">Facebook</a><br />
	<a href="http://twitter.com/<%= member["twitter_id"] %>" target="_blank">Twitter</a><br />
	<a href="http://youtube.com/<%= member["youtube_id"] %>" target="_blank">YouTube</a><br />
</p>


 
<h3>Contributions by Organization (2009-2014)</h3>
	<p>
		<% @open_secrets_org.each do |oso| %>

		<%= oso["org_name"] %> - <%= number_to_currency(oso["total"]) %><br />

		<% end %>
	</p>


<h3>Contributions by Industry</h3>

	<table align="center">
	  <thead>
	    <tr>
	      <th>Industry</th>
	      <th>Individuals</th>
	      <th>Super PACs</th>
	      <th>Total</th>

	    </tr>
	  </thead>

	  <tbody>
	    <% @open_secrets_ind.each do |osi| %>
	      <tr>
	        <td><%= osi["industry_name"] %></td>
	        <td><%= number_to_currency(osi["indivs"]) %></td>
	        <td><%= number_to_currency(osi["pacs"]) %></td>
	        <td><%= number_to_currency(osi["total"]) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<% end %>

<br />
<p><a href="http://www.opensecrets.org/" target="_blank"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/685777/5lIOhqxODeqCZxu/opensecrets_databy200x72.gif"></a></p>








	

