<!DOCTYPE html>
<html>
<head>
  <title>CongRS</title>
  <%= stylesheet_link_tag    "congrs", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<p>
		<% if current_user  %>
		  Hello, <%= current_user.name %>! <br>
		  <%= link_to "Logout", logout_path %><br>
		<% else %>
		  <%= link_to "Login", login_path %><br>
		<% end %>
	</p>

	<a href="/states"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/685777/qr4GAHgCusKitc1/congrs_logo2.png"></a>


<%= yield %>

</body>
</html>
